<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.Android.FootballStreetManager"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".FootballStreetManagerActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewEquipe.NewEquipe" android:screenOrientation="portrait"></activity>
        <activity android:name=".NewEquipe.NewEquipeCreation" android:screenOrientation="portrait"></activity>
    </application>

</manifest>